version: 2
jobs:
  build:
    docker:
      - image: circleci/node:6
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-npm-deps-{{ checksum "package-lock.json" }}
      - run:
          name: Installing npm dependencies
          command: npm install
      - run:
          name: Resetting package-lock changes
          command: git checkout -- package-lock.json
      - save_cache:
          key: v1-npm-deps-{{ checksum "package-lock.json" }}
          paths:
            - node_modules

      # Code Quality checks
      # TODO: Lint commit message
      # with git log --format=%B -n 1 $CIRCLE_SHA1 | npx commitlint
      - run:
          name: Linting source files
          command: npm run lint -- --format junit --output-file ~/reports/eslint.xml

      # Build
      - run:
          name: Transpiling source code
          command: npm run compile
      - run:
          name: Creating API documentation
          command: npm run docs

      # Test
      - run:
          name: Running tests
          command: node_modules/.bin/nyc npm test -- --reporter mocha-circleci-reporter
          environment:
            NODE_ENV: test
            MOCHA_FILE: ../reports/mocha.xml
      - run: ls ~/reports && ls .
      - run:
          name: Checking documentation for broken links (SKIPPED)
          command: echo "Skipped for now as ESDoc hosting service is down regularly" # npm run test:docs

      # Coverage checks
      - run:
          name: Checking test coverage
          command: node_modules/.bin/nyc check-coverage --statements 90 --branches 90 --functions 90 --lines 90
      - run:
          name: Reporting test coverage
          command: node_modules/.bin/nyc report --reporter=lcov > ../reports/coverage.lcov | node_modules/.bin/codecov
      - run:
          name: Check documentation coverage
          command: npm run docs:coverage

      # Store Results
      - store_test_results:
          path: ~/reports
          when: always
      - store_artifacts:
          path: ~/reports
          when: always

